# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache
.mypy_cache

# venv
venv/
.venv/

# vscode
.vscode/
# idea
.idea/**

# test related
0to100**/
978*/
map.md
repo/
toc.md
*.yaml
safaribooks/

# pip install
build
/dist
*.egg-info
